# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
List popular languages for Data Science
* Python
* R
* Julia
* Scala

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. Js

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Scikit-learn
4. Numpy
5. ggplot

**Data Science Tools**

| Development Environment | Open Source Tools |
| ----------------------- | ------------------ |
| Data Management | MySQL|
| Operating System | Jupyter |
| Data Integration | Airflow |
| Data Visualization | Kibana |
| Model Deployment | TensorFLow.js |
| Model Monitoring | Model DB |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Malathy Chenniappan